[submodule "lib/lib_obdii"]
	path = lib/lib_obdii
	url = https://gitlab.com/kaiserengineering/lib_obdii.git
[submodule "lib/lib_unit_conversion"]
	path = lib/lib_unit_conversion
	url = https://gitlab.com/kaiserengineering/lib_unit_conversion.git
[submodule "lib/lib_ke_protocol"]
	path = lib/lib_ke_protocol
	url = https://gitlab.com/kaiserengineering/lib_ke_protocol.git
[submodule "lib/lib_can_bus_decode"]
	path = lib/lib_can_bus_decode
	url = https://gitlab.com/kaiserengineering/lib_can_bus_decode.git
[submodule "lib/lib_digital_dash"]
	path = lib/lib_digital_dash
	url = https://gitlab.com/kaiserengineering/lib_digital_dash.git
