[submodule "lib/lib_digital_dash"]
	path = lib/lib_digital_dash
	url = https://github.com/KaiserEngineering/lib_digital_dash.git
[submodule "lib/lib_pid"]
	path = lib/lib_pid
	url = https://github.com/KaiserEngineering/lib_pid.git
[submodule "lib/lib_unit_conversion"]
	path = lib/lib_unit_conversion
	url = https://github.com/KaiserEngineering/lib_unit_conversion.git
[submodule "lib/lib_ke_protocol"]
	path = lib/lib_ke_protocol
	url = https://github.com/KaiserEngineering/lib_ke_protocol.git
[submodule "lib/lib_obdii"]
	path = lib/lib_obdii
	url = https://github.com/KaiserEngineering/lib_obdii.git
[submodule "lib/lib_can_bus_decode"]
	path = lib/lib_can_bus_decode
	url = https://github.com/KaiserEngineering/lib_can_bus_decode.git
